{% extends "index.html" %} {% block body %}
{% for post in posts %}
<div class="myDivSubBody">
    <ul class="head">
        <li class="leftAlignHead" style="
              font-family: Comic Sans MS, Comic Sans, cursive;
              font-size: 25px;
            ">
            <ul class="head">
                <li class="leftAlignHead">
                    <a href="{{ "/users/{}/".format(post.owner) }}"><img alt="{{ post.owner }}"
                            src="/uploads/{{ post.owner_img_url }}" width="40" /></a>
                </li>
                <li class="leftAlignHead">
                    <a href="{{ "/users/{}/".format(post.owner) }}">{{ post.owner }}</a>
                </li>
            </ul>
        </li>

        <li class="rightSubAlign"><a href="{{ "/posts/{}/".format(post.postid) }}">{{ post.created }}</a>
        </li>
    </ul>
    <img alt="{{ post.owner }}" src="/uploads/{{ post.filename }}" style="width: 100%" />
    <p style="font-size: 20px; padding: 5px">
        {% if post.likes == 1 %}
        {{ "{} like".format(post.likes) }}
        {% else %}
        {{ "{} likes".format(post.likes) }}
        {% endif %}
    </p>
    <ul class="main">
        {% for comment in post.comments %}
        <li class="comment">
            <b><a href="{{ "/users/{}/".format(comment.owner) }}">{{ comment.owner }}</a></b> {{
            comment.text }}
        </li>
        {% if comment.owner == logname %}
        <li>
            <form action="/comments/?target={{ "/posts/{}/".format(post.postid) }} " method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="delete"/>
            <input type="hidden" name="commentid" value="{{ comment.commentid }}"/>
            <input type="submit" name="uncomment" value="delete"/>
            </form>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    {% if post.isLiked == 0 %}
    <form action="/likes/?target={{ "/posts/{}/".format(post.postid) }} " method="post" enctype="multipart/form-data">
    <input type="hidden" name="operation" value="like"/>
    <input type="hidden" name="postid" value="{{ post.postid }}"/>
    <input type="submit" name="like" value="like"/>
    </form>
    {% else %}
    <form action="/likes/?target={{ "/posts/{}/".format(post.postid) }} " method="post" enctype="multipart/form-data">
    <input type="hidden" name="operation" value="unlike"/>
    <input type="hidden" name="postid" value="{{ post.postid }}"/>
    <input type="submit" name="unlike" value="unlike"/>
    </form>
    {% endif %}

    <form action="/comments/?target={{ "/posts/{}/".format(post.postid) }} " method="post" enctype="multipart/form-data">
    <input type="hidden" name="operation" value="create"/>
    <input type="hidden" name="postid" value="{{ post.postid }}"/>
    <input type="text" name="text" required/>
    <input type="submit" name="comment" value="comment"/>
    </form>

    {% if post.owner == logname %}
    <form action="/posts/?target=/" method="post" enctype="multipart/form-data">
    <input type="hidden" name="operation" value="delete"/>
    <input type="hidden" name="postid" value="{{ post.postid }}"/>
    <input type="submit" name="delete" value="delete this post"/>
    </form>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
